<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineMemberCount</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CheckFilter</filter-name>
    <filter-class>servlet.CheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckFilter</filter-name>
    <url-pattern>/welcome.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>servlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filertest</display-name>
    <filter-name>Filertest</filter-name>
    <filter-class>servlet.Filertest</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filertest</filter-name>
    <url-pattern>/MyJsp2.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Test1</display-name>
    <servlet-name>Test1</servlet-name>
    <servlet-class>servlet.Test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1</servlet-name>
    <url-pattern>/Test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test2</display-name>
    <servlet-name>Test2</servlet-name>
    <servlet-class>servlet.Test2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>
</web-app>